[submodule "octomap_ros"]
	path = octomap_ros
	url = https://github.com/Capstone-W3/octomap_ros.git
	branch = kinetic-devel
[submodule "diff_drive_mapping_robot"]
	path = diff_drive_mapping_robot
	url = https://github.com/Capstone-W3/diff_drive_mapping_robot.git
[submodule "ORB-SLAM2_ROS"]
	path = ORB-SLAM2_ROS
	url = https://github.com/Capstone-W3/ORB-SLAM2_ROS.git
[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = https://github.com/Capstone-W3/ORB_SLAM3
[submodule "opencv"]
	path = opencv
	url = https://github.com/Capstone-W3/opencv
[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "catkin_ws/src/orb_slam3_ros_wrapper"]
	path = catkin_ws/src/orb_slam3_ros_wrapper
	url = https://github.com/Capstone-W3/orb_slam3_ros_wrapper
	branch = master
[submodule "catkin_ws/src/ardrone_autonomy"]
	path = catkin_ws/src/ardrone_autonomy
	url = ./catkin_ws/src/ardrone_autonomy/
